<mat-card class="card">
  <form [formGroup]="form" (ngSubmit)="submit()" class="product-form">
    <div class="form-container">
      <mat-card-title>Dodaj produkt</mat-card-title>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Kod</mat-label>
        <input matInput type="text" formControlName="code" />
        @if (form.controls.code.invalid && form.controls.code.touched) {
          <mat-error>
            Wprowadź kod produktu
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nazwa</mat-label>
        <input matInput type="text" formControlName="name" />
        <mat-error *ngIf="form.controls.name.invalid && form.controls.name.touched">
          Wprowadź nazwę produktu
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Cena</mat-label>
        <input matInput type="number" step="0.01" formControlName="price" />
        <mat-error *ngIf="form.controls.price.invalid && form.controls.price.touched">
          Wprowadź poprawną cenę
        </mat-error>
      </mat-form-field>

      <div class="actions">
        <button mat-flat-button color="primary" type="submit">Dodaj</button>
        <button mat-stroked-button type="button" (click)="close()">Anuluj</button>
      </div>
    </div>
  </form>
</mat-card>